body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.App-header {
  font-weight: bolder;
  text-align: center;
  height: 50px;
  margin: 20px;
  padding: 40px;
}
section.board {
  display: flex;
}
.stage-col {
  margin: 20px;
  min-height: 200px;
  height: auto;
  width: 25%;
  text-align: center;
  border: 1px solid lightgrey;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.title {
  margin: 20px;
}
.task-card{
  width: 75%;
  display: inline-block;
}
.task {
  border: 1px solid lightgrey;
  margin: 5px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.control {
  font-weight: bolder;
  text-align: center;
}